@import url('/fonts/Mermaid1001.ttf');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg {
    background-image: url('/images/bg.svg');
    background-size: cover;
}

mark {
    display: inline-block;
    background-color: #B7E6F9;
    line-height: 0em;
    padding-bottom: 0.5em;
    z-index: 0.5em;
}

.quote-author {
    text-align: right;
    font-style: italic;
    display: block;
    width: 100%;
}

.nav-logo {
    font-size: 2em;
    font-weight: 700;
}