@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg {
    background-image: url('/images/bg.svg');
    background-size: cover;
}

mark {
    display: inline-block;
    background-color: #B7E6F9;
    line-height: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0;
}

.quote-author {
    font-family: "Abhaya Libre";
    font-weight: 800;
    text-align: right;
    font-style: italic;
    display: block;
    height: fit-content;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 30px;
    float: right;
}

.nav-logo {
    font-size: 2em;
    font-weight: 700;
}

.title {
    font-family: "Abhaya Libre";
    font-weight: 700;
    font-size: 50px;
}

.subtitle {
    padding-top: 2%;
    font-weight: 300;
    font-size: 20px;
}

.button {
font-weight: 500;
}

.project-card {
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0;
    border-radius: 10px;
}

.project-card div {
    width: 100%;
}